:host() {

    .navbar {
        @media ( max-width: 992px ) {
            padding-left: 1px;
            padding-right: 1px;
        }
    }

    .nav {
        display: block;
        border-bottom: 1px solid rgba(151,151,151,1);
        width: 100%;
        
        .nav-item {
            &:not(:first-child) {
                margin-left: 2px;

                @media ( min-width: 560px ) {
                    margin-left: 8px;
                }
            }
            float: left;
            
            .nav-link {
                background-color: #4A4A4A;
                color: #fff;
                transition: .15s ease color, .15s ease background-color;
                width: 256px;
                text-align: center;
                border: 1px solid #979797;
                border-bottom: 1px solid #4A4A4A;
                display: block;
                position: relative;
                top: 1px;
                font-size: 18px;
                line-height: 20px;
                font-weight: 400;
                // font-family: 'Roboto', sans-serif;
                width: auto;
                font-size: 12px;
                padding: 30px 9px 10px;

                @media ( min-width: 400px ) {
                    font-size: 14px;
                    padding-left: 15px;
                    padding-right: 15px;
                }

                @media ( min-width: 550px ) {
                    font-size: 18px;
                    padding: 20px 15px;
                }

                @media ( min-width: 820px ) {
                    width: 256px;
                }

                .badge {
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    font-size: 7px;
                    vertical-align: middle;
                    line-height: 20px;
                    text-align: center;
                    padding: 0;
                    margin-left: 10px;
                    position: absolute;
                    top: 5px;
                    right: 5px;

                    @media ( min-width: 560px ) {
                        position: relative;
                        top: auto;
                        right: auto;
                    }
                }
                
                &.active {
                    background-color: #F4F4F4;
                    color: #4A4A4A;
                    border-bottom: 1px solid #F4F4F4;
                    margin-bottom: -1px;
                }
            }

            &:last-child {
                float: right;
            }
        }
    }
}