:host() {
    position: relative;
    display: block;
    padding-top: 30px;

    .intro-wrap {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 25px;  
        font-size: 18px;
        font-family: 'fira-medium';
        font-weight: normal;
        margin-bottom: 60px;

        .right-align {
            text-align: right;
        }
    }

    .nav-wrap {
        position: relative;
        // background-color: #fff; // TODO
    }

    #mobile-menu {
        background-color: #4A4A4A;
        display: block;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        padding-top: 10px;
        padding-right: 5px;
        color: #fff;

        i:before {
            margin: 0;
        }
    }

    #mobile-menu-dropdown {
        z-index: 99;
        position: absolute;
        top: 45px;
        right: 0;

        .nav { 
            border-bottom: none;
            padding: 0.5rem 0;
            margin: 0.125rem 0 0;
            border: 1px solid rgba(0, 0, 0, 0.15);
            background-color: #fff;
            border-radius: 0.25rem;

            li a {
                color: #373A3C;

                &.active {
                    display: none;
                }
            }
        }
    }

    .navbar {
        padding: 0;

        li a {
            display: none;

            &.active {
                display: block;
            }
        }

        @media ( min-width: 576px ) {
            li a {
                display: block;
            }
        }
    }

    .nav {
        display: block;
        border-bottom: 1px solid rgba(151,151,151,1);
        width: 100%;

        .nav-item {
            @media ( min-width: 576px ) {
                &:not(:first-child) {
                    margin-left: 8px;
                }
            }
            float: left;
            max-height: 62px;
            
            .nav-link {
                background-color: #4A4A4A;
                color: #fff;
                transition: .15s ease color, .15s ease background-color, .15s ease transform;
                text-align: center;
                border: 1px solid #979797;
                border-bottom: 1px solid #4A4A4A;
                position: relative;
                top: 0;
                font-size: 18px;
                line-height: 21px;
                font-family: 'fira-medium';
                font-weight: normal;
                padding: 20px 15px 25px;
                width: auto;
                transform: translateY(0);

                &:not(.active):hover {
                    background-color: rgb(95, 95, 95);
                    transform: translateY(-5px);
                }

                @media ( min-width: 650px ) {
                    padding: 20px 25px 25px;
                }

                @media ( min-width: 850px ) {
                    min-width: 256px;
                }

                .badge {
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    font-size: 13px;
                    vertical-align: middle;
                    line-height: 30px;
                    text-align: center;
                    padding: 0;
                    margin-left: 10px;
                    position: relative;
                    background-color: #F4F4F4;
                    color: #000;
                }
                
                &.active {
                    background-color: #F4F4F4;
                    color: #4A4A4A;
                    border-bottom: 1px solid #F4F4F4;
                    position: relative;
                    cursor: default;

                    .badge {
                        background-color: #4A4A4A;
                        color: #fff;
                    }
                }
            }

            @media ( min-width: 576px ) {
                &:last-child {
                    float: right;
                }
            }
        }
    }
}