<form novalidate (ngSubmit)="save()" [formGroup]="travelForm">

  <div class="btn-toolbar">
    <div class="step-nav-wrap mr-2" role="group" aria-label="First group">
      <button *ngFor="let page of steps.indices; let index=index" (click)="steps.current=index; this.submissionSucceed=false;"
        type="button" [disabled]="((index < steps.indices.length-1 && !travelForm.get('steps').at(index).valid) && index != steps.current)||(index===steps.indices.length-1 && !travelForm.valid)"
        [ngClass]="{'active':steps.current===index}" class="btn active">{{page}}</button>
        <span class="current-label d-none d-md-inline-block">{{headlines[steps.current]}}</span>
    </div>
    <!-- <div class="btn-group" role="group" aria-label="Second group">
      <button type="button" class="btn" (click)="populateTestData()">Insert Test Data</button>
    </div> -->

  </div>

  <div *ngIf='!submissionSucceed' formArrayName="steps" id="steps-wrap">

    <!-- FormArray Step 0 -->
    <div [formGroupName]="0" *ngIf="steps.current===0" class="slide-wrap" [@viewChange]="slide">

      <div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="travelType" value="offer" id="cb-offer">
          <label class="form-check-label" for="cb-offer">Angebot</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="travelType" value="request" id="cb-request">
          <label class="form-check-label" for="cb-request">Gesuch</label>
        </div>
      </div>
      <br/>
      <br/>
      <p>Tragen Sie sich in unsere Mitfahrbörse ein, dann wird Ihr Angebot oder Gesuch in die Karte und in die Liste aufgenommen
        und veröffentlicht. Ob eine Fahrgemeinschaften mit dem Auto oder der Bahn, bereits gebuchte Busse, Hilfe-Gesuche
        zur gemeinsamen Bus-Organisation, Fahrradtouren oder andere Möglichkeiten, die Ihnen einfallen – so kommen Sie gemeinsam
        zum Ziel. Schauen Sie bitte vorher, ob es bereits passende Angebote oder Gesuche gibt.</p>

      <div class="next-button-wrap">
        <button class="btn btn-black" (click)="proceed($event, steps.current);" [ngClass]="{'is-disabled':!travelForm.get('steps.0').valid}">Weiter</button>
      </div>

    </div>

    <!-- FormArray Step 1 -->
    <div [formGroupName]="1" *ngIf="steps.current===1" class="slide-wrap" [@viewChange]="slide">
      <span class="step-indicator">Schritt {{steps.current + 1}}</span>
      <h3>{{headlines[steps.current]}}</h3>
      <p class="has-padding">Die hier angegebenen Daten werden nicht veröffentlich.</p>
      <br/>

      <div class="row">
        <div class="col-md-7">
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.1.userName'))}" type="text"
              placeholder="Name *" formControlName="userName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.1.userAddress'))}" type="text"
              placeholder="Strasse *" formControlName="userAddress" />
          </mat-form-field>
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.1.userPostCode'))}" type="text"
              placeholder="Postleitzahl *" formControlName="userPostCode" />
          </mat-form-field>
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.1.userCity'))}" type="text"
              placeholder="Ort *" formControlName="userCity" />
          </mat-form-field>
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.1.userPhoneNumber'))}" type="text"
              placeholder="Telefon *" formControlName="userPhoneNumber" />
          </mat-form-field>
          <div formGroupName="userEmail">
            <mat-form-field>
              <input matInput class="form-control" [ngClass]="{'is-invalid':travelForm.get('steps.1.userEmail.email').validDebounced}"
                type="email" placeholder="Email *" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
              <input matInput class="form-control" [ngClass]="{'is-invalid':travelForm.get('steps.1.userEmail').errors||validate(travelForm.get('steps.1.userEmail.confirmEmail'))}"
                type="email" placeholder="Emailadresse wiederholen *" formControlName="confirmEmail" />
            </mat-form-field>

          </div>
        </div>
        <div class="col-md-5">
          <div class="next-button-wrap align-bottom">
            <button class="btn btn-black" (click)="proceed($event, steps.current)" [ngClass]="{'is-disabled':!travelForm.get('steps.1').valid}">Weiter</button>
          </div>
        </div>
      </div>
    </div>

    <!-- FormArray Step 2 -->
    <div [formGroupName]="2" *ngIf="steps.current===2" class="slide-wrap" [@viewChange]="slide">
      <span class="step-indicator">Schritt {{steps.current + 1}}</span>
      <h3>{{headlines[steps.current]}}</h3>
      <p class="has-padding">Die hier angegebenen Daten werden veröffentlich und sind frei einsehbar.</p>
      <br/> 

      <div class="row">
        <div class="col-md-7">
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.2.organisation'))}" type="text"
              placeholder="Organisation" formControlName="organisation" />
          </mat-form-field>
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.2.contactName'))}" type="text"
              placeholder="Name *" formControlName="contactName" />
          </mat-form-field>
          <div formGroupName="travelContact">
            <mat-form-field>
              <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.2.travelContact'))}" type="text"
                placeholder="Telefon *" formControlName="phoneNumber" />
            </mat-form-field>
            <mat-form-field>
              <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.2.travelContact'))}" type="email"
                placeholder="Email *" formControlName="contactEmail" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-5">
          <div class="next-button-wrap align-bottom">
            <button class="btn btn-black" (click)="proceed($event, steps.current)" [ngClass]="{'is-disabled':!travelForm.get('steps.2').valid}">Weiter</button>
          </div>
        </div>
      </div>
    </div>

    <!-- FormArray Step 3 -->
    <div [formGroupName]="3" *ngIf="steps.current===3" class="slide-wrap" [@viewChange]="slide">
      <span class="step-indicator">Schritt {{steps.current + 1}}</span>
      <h3>{{headlines[steps.current]}}</h3>
      <p class="has-padding">Bitte geben Sie den Abfahrtsort an und prüfen Sie, ob dieser auf der Karte richtig angezeigt wird.</p>
      <br/>
      
      <div class="map-wrap">
        <div>
          <agm-map [latitude]="position.lat" [longitude]="position.lng" [zoom]="mapZoom" [styles]="mapStyles">
            <agm-marker [latitude]="position.lat" [longitude]="position.lng" [markerDraggable]='true' (dragEnd)='markerDragEndEvent($event)'></agm-marker>
          </agm-map>

          <div id="search-in-map-wrap">
            <div class="input-group custom-input-wrap">
              <div class="input-group-addon">
                <i class="icon-search"></i>
              </div>
              <input appGoogleAutoComplete (notifyForAddressData)='googlePlacesAddressHandler($event)' class='form-control form-inline focus'
                type="search" placeholder="Suche eine Adresse" />
            </div>
          </div>
        </div>
      </div>
      
      <p class="has-padding">Bitte überprüfen Sie, ob die Ortsangaben stimmen.</p>
      <div class="row">
        <div class="col-md-7">
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.3.streetAddress'))}" type="text"
              placeholder="Strasse *" formControlName="streetAddress" />
          </mat-form-field>
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.3.postcode'))}" type="text"
              placeholder="Postleitzahl *" formControlName="postcode" />
          </mat-form-field>
          <mat-form-field>
            <input matInput class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.3.city'))}" type="text" placeholder="Ort *"
              formControlName="city" />
          </mat-form-field>
        </div>

        <div class="col-md-5">
          <div class="next-button-wrap align-bottom">
            <button class="btn btn-black" (click)="proceed($event, steps.current)" [ngClass]="{'is-disabled':!travelForm.get('steps.3').valid}">Weiter</button>
          </div>
        </div>
      </div>

    </div>

    <!-- FormArray Step 4 -->
    <div [formGroupName]="4" *ngIf="steps.current===4" class="slide-wrap" [@viewChange]="slide">
      <span class="step-indicator">Schritt {{steps.current + 1}}</span>
      <h3>{{headlines[steps.current]}}</h3>
      <p class="has-padding">Diese Daten werden in der Mitfahrzentrale veröffentlicht.</p>
      <br/>

      <div class="row">
        <div class="col-md-7">
          <select class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.4.destinationId'))}" formControlName="destinationId">
            <option value=null disabled selected hidden>Ziel *</option>
            <option *ngFor="let destination of destinations" value="{{destination.id}}">{{destination.name}}</option>
          </select>

          <select class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.4.transportationMeanId'))}" formControlName="transportationMeanId">
            <option value=null disabled selected hidden>Verkehrsmittel *</option>
            <option *ngFor="let transportationMean of transportationMeans" value="{{transportationMean.id}}">{{transportationMean.name}}</option>
          </select>

          <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker" [ngClass]="{'is-invalid':validate(travelForm.get('steps.4.departureDate'))}"
              placeholder="Abfahrt *" formControlName="departureDate" #datePickerTrigger (focus)="myDatepicker.open(); datePickerTrigger.blur()">
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>

          <div class="row destination-time">
            <div class="col-6">
              <select class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.4.departureHour'))}" formControlName="departureHour">
                <option value=null disabled selected hidden>Abfahrt Stunden *</option>
                <option *ngFor="let hour of departureHours" value="{{hour}}">{{hour}}</option>
              </select>
            </div>
            <div class="col-6">
              <select class="form-control" [ngClass]="{'is-invalid':validate(travelForm.get('steps.4.departureMinute'))}" formControlName="departureMinute">
                <option value=null disabled selected hidden>Abfahrt Minuten *</option>
                <option *ngFor="let minute of departureMinutes" value="{{minute}}">{{minute}}</option>
              </select>
            </div>
          </div>

          <mat-form-field>
            <textarea matInput class="form-control" matTextareaAutosize matAutosizeMinRows="4" placeholder="Beschreibung" formControlName="description"></textarea>
          </mat-form-field>
        </div>

        <div class="col-md-5">
          <div class="next-button-wrap align-bottom">
            <button class="btn btn-black" (click)="proceed($event, steps.current); getDistance()" [ngClass]="{'is-disabled':!travelForm.get('steps.4').valid}">Weiter</button>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="steps.current===5" class="slide-wrap" [@viewChange]="slide">
      <span class="step-indicator">Schritt {{steps.current + 1}}</span>
      <h3>{{headlines[steps.current]}}</h3>
      <p>Bitte überprüfen Sie noch einmal Ihre Daten.</p>
      <br/>

      <div class="section-wrap">
        <h4>Accountdaten</h4>

        <div class="row">
          <div class="col-4">
            <span>Email</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[1].userEmail.email }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Name</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[1].userName }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Postleitzahl</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[1].userPostCode }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Strasse, Hausnummer</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[1].userAddress }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Ort</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[1].userCity }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Telefon</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[1].userPhoneNumber }}</span>
          </div>
        </div>
      </div>

      <div class="section-wrap">
        <h4>Kontaktdaten</h4>

        <div class="row">
          <div class="col-4">
            <span>Name</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[2].contactName }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Organisation</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[2].organisation }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Email</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[2].contactEmail }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Telefon</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[2].phoneNumber }}</span>
          </div>
        </div>
      </div>

      <div class="section-wrap">
        <h4>Mitfahrgelegenheit</h4>

        <div class="row">
          <div class="col-4">
            <span>Art</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[0].travelType }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Ziel</span>
          </div>
          <div class="col-8">
            <span>{{ getSelectedDestination(travelForm.get('steps.4.destinationId').value) }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Verkehrsmittel</span>
          </div>
          <div class="col-8">
            <span>{{ transportationMeansByDBOrder[travelForm.get('steps.4.transportationMeanId').value] }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>ungefähre Abfahrtszeit</span>
          </div>
          <div class="col-8">
            <span>{{ getDepartureTime() | amParse:'YYYY-MM-DD hh:mm:ss' | amDateFormat:'D.MMMM YYYY, H:mm' }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Beschreibung</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.get('steps.4.description').value }}</span>
          </div>
        </div>
      </div>

      <div class="section-wrap">
        <h4>Abfahrtsort</h4>

        <div class="row">
          <div class="col-4">
            <span>Strasse, Hausnummer</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[3].streetAddress }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Postleitzahl</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[3].postcode }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <span>Ort</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[3].city }}</span>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="map-wrap">
          <div>
            <agm-map [latitude]="position.lat" [longitude]="position.lng" [zoom]="mapZoom" [styles]="mapStyles">
              <agm-marker [latitude]="position.lat" [longitude]="position.lng" [markerDraggable]='false' [iconUrl]='"./assets/images/icons/pin_" + travelForm.get("steps.4.transportationMeanId").value + ".png"'></agm-marker>
            </agm-map>
          </div>
        </div>
        <div class="row" *ngIf='distance > 0 && distanceObject'>
          <div class="col-4">
            <span>Entfernung zum Ziel</span>
          </div>
          <div class="col-8">
            <span>{{ travelForm.value.steps[3].city }}</span>
          </div>
        </div>

        <div class="row" *ngIf='distance > 0 && distanceObject'>
          <div class="col-4">
            <span>Voraussichtliche Fahrzeit</span>
          </div>
          <div class="col-8">
            <span>{{ distanceObject.rows[0].elements[0].duration.text }}</span>
          </div>
        </div>

      </div>

      <div class="section-wrap">
        <h4>Abschicken.</h4>
        <br/>
        <p>Sind alle Angaben korrekt? Dann können Sie jetzt Ihr Gesuch/Angebot aufgeben.</p>

        <div class="next-button-wrap">
          <button class="btn btn-black" type="submit" [disabled]="!travelForm.valid || inProgress">
            <span>Abschicken</span>
          </button>
        </div>

      </div>
    </div>

  </div>

  <div *ngIf='submissionSucceed' class="confirmation-screen" [@viewChange]="slide">
    <span class="step-indicator">Zusammenfassung</span>
    <h3>Ihre Eintrag wurde hinterlegt.</h3>
    <p class="has-padding">Danke, wir haben ihren Eintrag entgegen genommen, bitte prüfen Sie nun ihre Mails..</p>
  </div>
</form>