:host() {
    #steps-wrap {
        padding-top: 100px;
        padding-left: 15px;
        padding-right: 15px;

        @media ( min-width: 992px ) {
            padding-left: 60px;
            padding-right: 60px;
        }

        background-color: rgba(255,255,255,1);
        transition: .3s ease background-color;

        &.bg-grey {
            background-color: rgba(250,250,250,1);
        }
    }

    mat-form-field {
        display: block;
    }

    input.form-control {
        width: 100%;
    }

    input.form-control:focus {
        border: none !important;
        box-shadow: none !important;
    }

    .btn-toolbar {
        background-color: #F4F4F4;
        padding: 20px;
    }

    .form-check-label {
        font-size: 32px;
        line-height: 32px;
    }

    select {
        margin-bottom: 20px;
    }

    .section-wrap {
        margin-bottom: 55px;
        padding-bottom: 55px;

        & > .row {
            font-family: 'Roboto', sans-serif;
            color: #4A4A4A;

            & > div:first-child {
                font-weight: 300;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid #979797;
        }
    }

    .next-button-wrap {
        &:not(.align-bottom) {
            padding: 35px 0 70px;
        }

        &.align-bottom {
            @media ( min-width: 992px ) {
                position: absolute;
                bottom: 20px;
                width: 100%;
            }
        }

        text-align: right;

        button {
            border-radius: 0;
            padding-left: 45px;
            padding-right: 45px;
        }
    }

    span.step-indicator, h4 {
        font-size: 24px;
        font-weight: normal;
    }

    h3 {
        font-size: 32px;
        font-weight: normal;
    }

    .row.destination-time {
        margin-left: 0;
        margin-right: 0;

        & > div {
            padding-left: 0;
            padding-right: 0;

            &.centerd {
                text-align: center;
                line-height: 38px;
            }
        }
    }
}
