@import "variables";
@import "/assets/fonts/fontello.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap";
@import '~ngx-sharebuttons/styles/share-buttons';
@import '~ngx-sharebuttons/styles/themes/modern/modern-dark-theme';
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700,800,900');

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9B9B9B !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #9B9B9B !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #9B9B9B !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #9B9B9B !important;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: black !important; // TODO
}

input {
    -webkit-appearance: none !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

button::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
}

select, textarea, input, select {
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    outline: none;
    border: 0;    
}

.input-group-prepend {
    border-radius: 0 !important;
    border: 1px solid #ced4da !important;
    width: 48px !important;
    padding-left: 15px !important;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.btn-black {
    padding: 9px 17px 7px;
    background-color: #000;
    color: #fff !important;
    text-transform: uppercase;
    border: 4px solid #000;
    border-radius: 0;
    box-shadow: none !important;
    display: inline-block;
    transition: .15s ease color, .15s ease background-color;
    cursor: pointer;
    font-weight: 500;

    &:disabled {
        cursor: default;
        pointer-events: none;
        opacity: 1;
    }

    &:hover {
        background-color: #fff;
        color: #000 !important;   
    }
}

.same-height {
    display: flex;
    align-items: stretch;
}

input, textarea, select, button {
    &:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }
}

.mat-focused .mat-form-field-placeholder {
    color: rgba(0,0,0,.54) !important;
}

.mat-form-field-placeholder-wrapper {
    transform: translateY(-6px);
    transition: .4s cubic-bezier(.25,.8,.25,1) transform;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder-wrapper {
    transform: translateY(0);
}

.mat-form-field-ripple {
    background-color: #000 !important;
}

.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #C21C34 !important;
    height: 3px !important;
}

.mat-form-field-invalid .mat-form-field-placeholder {
    color: #C21C34 !important;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple {
    height: 3px !important;
}

.pagination, .page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0 !important;
}

select.form-control {
    background-color: #f7f7f7 !important;
    border-radius: 0 !important;
    border: none !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
    height: 60px !important;
    border-bottom: 1px solid rgba(0,0,0,.42) !important;
    padding: 6px 0.75rem 0 !important;
}

textarea.form-control {
    border: none !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
}

.input-group .form-control {
    border-radius: 0 !important;
}

button.dropdown-toggle {
    background-color: #4A4A4A;
    border-radius: 0;
    color: #fff;
    box-shadow: none !important;
    padding: 13px 20px;

    @media (min-width: 1200px) {
        text-align: right;
        min-width: 240px;
    }

    span.caret {
        margin-left: 30px;
    }
}

.sb-button {
    margin: 0 10px 30px 0;
    transition: .15s ease background-color;    

    .sb-wrapper {
        height: 44px;
        width: 44px;
        min-width: 44px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 2px 0px rgba(165, 165, 165, 0.5);

        &:hover {
            box-shadow: 0 3px 7px rgba(0,0,0,.5) !important;
        }
    }

    .sb-icon {
        // color: #fff;
        transition: .15s ease color;

        i {
            font-size: 24px;
        }
    }

    &:hover {
        // background-color: #fff;

        // .sb-icon {
        //     color: #000;
        // }
    }
}

.dropdown-divider {
    margin: 0;
}

.dropdown-menu {
    min-width: 80%;
    padding: 0;
    margin: 0;

    li {
        a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        &:not(:first-child) {
            border-top: 1px solid #e9ecef !important;
        }
    }
}

.padding {
    padding: 15px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;

    & > div {
        padding-left: 10px;
        padding-right: 10px;
    }

    & > div:first-child {
        padding-left: 0;
        padding-right: 0;
    }

    @media ( min-width: 450px ) {
        & > div {
            padding-left: 15px;
            padding-right: 15px;
        }
    
        & > div:first-child {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.mat-form-field {
    width: 100% !important;

    .mat-input-flex, .mat-input-element {
        background-color: rgba(247,247,247,1);
    }

    .mat-input-flex {
        padding: 7px 15px;
    }
}

.container {
    
    & > div {
        // background-color: #F4F4F4; // TODO
        background-color: transparent;
    }

    @media ( max-width: 992px ) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        max-width: 100%;
    }
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    padding-bottom: 0;
}

.map-wrap {
    position: relative;
    width: 100%;
    padding-top: 140%;

    @media ( min-width: 450px ) {
        padding-top: 90%;
    }

    @media ( min-width: 550px ) {
        padding-top: 70%;
    }

    @media ( min-width: 700px ) {
        padding-top: 60%;
    }

    @media ( min-width: 992px ) {
        padding-top: 60%;
    }

    & > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        agm-map {
            position: relative;
            width: 100%;
            height: 100%;
        }

        & > div {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
}

.step-nav-wrap {
    & > .btn {
        color: #fff;
        background-color: #000;
        box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        transition: .15s ease color, .15s ease background-color;

        & > i {
            color: #000;
            font-size: 16px;
            transition: .15s ease color;
            position: relative;
            left: -1px;

            &:before {
                margin: 0;
            }
        }

        &:not(:last-child) {
            margin-right: 6px;
        }

        @media ( min-width: 412px ) {
            border-radius: 22px;
            width: 44px;
            height: 44px;

            &:not(:last-child) {
                margin-right: 12px;
            }

            & > i {
                font-size: 18px;
                left: 0;
            }
        }

        @media ( min-width: 825px ) {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &.active {
            cursor: default;

            & > i {
                color: #fff;
            }
        }

        &.active-filter {
            background-color: #fff;

            & > i {
                color: #000;
            }
        }

        &:disabled {
            color: #000;
            opacity: 1;
            background-color: #fff;
            cursor: not-allowed;
        }
    }
}
