<div *eventAssign="let travelsFiltered be travels | calculateDistance:mapSearchMode:position | filter:textFilter:destinationFilter:transportationMeanFilter | filterCurrentDetails:currentDetailsTravelId:detailsRequestedFromMapDetails"
  style="overflow: hidden">

  <div class="select-destination" *ngIf='!mobileView && destinations && destinations.length > 1'>
    <div class="row">
      <div class="col-md-8">
        <p>Diese Demonstration findet in mehreren Städten statt.
          <br /> Bitte wähle Dein genaues Ziel aus dem rechts stehenden Feld aus.</p>
      </div>
      <div class="col-md-4 right-align">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn dropdown-toggle">
            {{destinationFilter ? destinationFilter.name : 'Demoziel auswählen'}}
            <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" (click)="destinationFilter=null">Alle</a>
            </li>
            <li *ngFor="let destination of destinations" role="menuitem">
              <a class="dropdown-item" (click)="destinationFilter=destination">{{destination.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map-wrap">
    <div>
      <div>
        <ng-container *ngIf='latlngBounds'>
          <agm-map [latitude]="position.lat" [longitude]="position.lng" [usePanning]='usePanning' [zoom]="mapZoom" [styles]="mapStyles"
            [fitBounds]='latlngBounds' maxZoom='18' [zoomControl]='!mobileView' [streetViewControl]='!mobileView'>
            <agm-marker-cluster [styles]='markerClusterStyles'>
              <ng-container *ngFor='let travel of ( travelsFiltered | northToSouth )'>
                <agm-marker #filteredMarkers [latitude]="travel.lat" [longitude]="travel.long" [iconUrl]='"./assets/images/icons/pin_" + travel.transportation_mean.id + "_"+ travel.destination.pin_color + ".svg"'
                  (markerClick)="showMarkerDetails(travel); position.lat = travel.lat; position.lng = travel.long"
                  [attr.latitude]='travel.lat' [attr.longitude]='travel.long'></agm-marker>
                <ng-container *ngIf='travel.stopover.length'>
                  <ng-container *ngFor='let stopover of travel.stopover'>
                    <agm-marker #filteredMarkers [latitude]="stopover.lat" [longitude]="stopover.long" [iconUrl]='"./assets/images/icons/pin_" + travel.transportation_mean.id + "_"+ travel.destination.pin_color + ".svg"'
                      (markerClick)="showMarkerDetails(travel); position.lat = stopover.lat; position.lng = stopover.long"
                      [attr.latitude]='stopover.lat' [attr.longitude]='stopover.long'></agm-marker>
                  </ng-container>
                </ng-container>
              </ng-container>
            </agm-marker-cluster>
            <agm-circle *ngIf='mapSearchMode' [latitude]="position.lat" [longitude]="position.lng" [circleDraggable]="false"
              [editable]="false" [radius]="100000" [fillColor]="'#0099ff'" [fillOpacity]=".15"></agm-circle>

            <!-- [strokeWeight]="1"
              [strokePosition]="'CENTER'"
              [strokeColor]="'#000'"
              [strokeOpacity]="1" -->

          </agm-map>
        </ng-container>

        <div id="search-in-map-wrap">
          <div class="input-group custom-input-wrap">
            <div class="input-group-prepend">
              <i class="icon-search"></i>
            </div>
            <input appGoogleAutoComplete (notifyForAddressData)='googlePlacesAddressHandler($event)' class='form-control form-inline focus'
              type="search" placeholder="Abfahrtsort eingeben" [(ngModel)]="mapSearchString" (change)='onMapSearchStringChange()' />
            <a role="button" id='clear-search' [class.show]='this.mapSearchMode' (click)='mapSearchString=""; this.mapSearchMode=false'>
              <i class="icon-close"></i>
            </a>
          </div>
        </div>

        <div id="current-travel-details" *ngIf='currentMapDetails' [@showDeatilsWrapTrigger]='true'>

          <div class="btn-close-wrap">
            <a role="button" (click)='currentMapDetails = null; detailsRequestedFromMapDetails = false; currentDetailsTravelId = null;'>
              <i class="icon-close"></i>
            </a>
          </div>

          <div class="row">
            <div class="col-4">
              <span>Abfahrt</span>
            </div>
            <div class="col-8">
              <span>{{currentMapDetails.departure_time | amParse:'YYYY-MM-DD hh:mm:ss' | amDateFormat:'DD.MM.YY,
                HH:mm'}} Uhr</span>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <span>Von</span>
            </div>
            <div class="col-8">
              <span>
                <span *ngIf='currentMapDetails.street_address'>{{currentMapDetails.street_address}}, </span>
                <span *ngIf='currentMapDetails.postcode'>{{currentMapDetails.postcode}}, </span>{{currentMapDetails.city}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <span>Nach</span>
            </div>
            <div class="col-8">
              <span>{{currentMapDetails.destination.name}} ({{currentMapDetails.destination.date | amParse:'YYYY-MM-DD'
                | amDateFormat:'DD.MM.YYYY'}})</span>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <span>Verkehrsmittel</span>
            </div>
            <div class="col-8">
              <span>{{currentMapDetails.transportation_mean.name}}</span>
            </div>
          </div>

          <div class="btn-show-details-wrap">
            <button class="btn btn-blue" (click)='detailsRequestedFromMapDetails = true;showMarkerFullDetails();'>Details
              und Kontaktinfos</button>
          </div>
        </div>

        <button *ngIf='mobileView' class="btn btn-blue map-filter-toggle" type="button" (click)='showMapFilterOverlay = true;'>
          <span>Karte filtern</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row padding">
    <ng-container *ngIf='!mobileView'>
      <div class="col-md-6">
        <div class="btn-toolbar travel-filter-icons">
          <div class="step-nav-wrap mr-2" role="group" aria-label="First group">
            <button type="button" *ngFor='let filter of transportationMeanDisplay' [class.active-filter]='-1 !== transportationMeanFilter.indexOf(filter.id)'
              class="btn" (click)='updateTransportationMeanFilter(filter.id)'>
              <i [class]='filter.iconClass'></i>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-md-6">
      <div id="filter-table-wrap">
        <div class="input-group padding-right custom-input-wrap" id="filter-table">
          <div class="input-group-prepend">
            <i class="icon-icon-filter"></i>
          </div>
          <input type="text" [(ngModel)]="textFilter" class="form-control" placeholder="Tabelle individuell filtern">
        </div>
      </div>
    </div>
  </div>

  <div class="travel-wrap" #travelwrap>
    <div class="travel-header-wrap">
      <div class="row table-head">
        <div class="col-20 d-none d-sm-block">
          <span>Plz</span>
          <a role="button" (click)='keys = ["postcode"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
        <div class="col-4 col-sm-20">
          <span>Abfahrtsort</span>
          <a role="button" (click)='keys = ["city"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
        <div class="col-4 col-sm-20">
          <span>Verkehrsmittel</span>
          <a role="button" (click)='keys = ["transportation_mean", "name"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
        <div class="col-4 col-sm-20">
          <span>Aktionsort</span>
          <a role="button" (click)='keys = ["destination", "name"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
        <div class="col-20 d-none d-sm-block">
          <span>Entfernung</span>
          <a role="button" (click)='keys = ["currentDistance"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
      </div>
    </div>

    <div *ngFor="let travel of travelsFiltered | calculateDistance:mapSearchMode:position | eventsSort:keys:ascOrder | filterCurrentDetails:currentDetailsTravelId:detailsRequestedFromMapDetails | pagination:pager"
      class="travel-row-wrap">
      <div class="row" [class.show-details]='currentDetailsTravelId === travel.id' (click)='(currentDetailsTravelId === travel.id) ? currentDetailsTravelId = 0 : currentDetailsTravelId = travel.id; detailsRequestedFromMapDetails = false; setCurrentShareUrl(travel.id); travel.mailSend = false;'>
        <div class="col-20 d-none d-sm-block">{{travel.postcode}}</div>
        <div class="col-4 col-sm-20">{{travel.city}}</div>
        <div class="col-4 col-sm-20">
          <i [class]='setTransportationMeanClassIcon(travel.transportation_mean.id)'></i>&nbsp;&nbsp;{{travel.transportation_mean.name}}</div>
        <div class="col-4 col-sm-20">{{travel.destination.name}}</div>
        <div class="col-20 d-none d-sm-block">
          <span *ngIf='travel.currentDistance >= 0; else unknownDistance'>{{travel.currentDistance/1000 |
            number:'1.1-1'}} km</span>
          <ng-template #unknownDistance>
            -
          </ng-template>
        </div>
      </div>
      <div *ngIf='currentDetailsTravelId === travel.id' class="details-wrap" [@viewChange]='true'>
        <section>

          <div class="row">
            <div class="col-md-12">
              <h4>Details zur Fahrt</h4>
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-3">
              <span>Von</span>
            </div>
            <div class="col-9">
              <span>{{travel.street_address}}, {{travel.postcode}}, {{travel.city}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>Nach</span>
            </div>
            <div class="col-9">
              <span>{{travel.destination.name}} ({{travel.destination.date | amParse:'YYYY-MM-DD' |
                amDateFormat:'DD.MM.YYYY'}})</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>Verkehrsmittel</span>
            </div>
            <div class="col-9">
              <span>{{travel.transportation_mean.name}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>ungefähre Abfahrtszeit</span>
            </div>
            <div class="col-9">
              <span>{{travel.departure_time | amParse:'YYYY-MM-DD hh:mm:ss' | amDateFormat:'D.MMMM YYYY, H:mm'}} Uhr</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>Beschreibung</span>
            </div>
            <div class="col-9">
              <span *ngIf='travel.description && travel.description.length > 2; else noDescription'>{{travel.description}}</span>
              <ng-template #noDescription>
                <span>Keine weiteren Angaben vorhanden</span>
              </ng-template>
            </div>
          </div>

          <div class="row stop-overs" *ngIf='travel.stopover && travel.stopover.length'>
            <div class="col-3">
              <span>Zwischenstopps</span>
            </div>
            <div class="col-9">
              <ul>
                <li *ngFor='let stopover of travel.stopover; let i = index'>{{stopover.postcode}} {{stopover.city}} -
                  {{stopover.street_address}}</li>
              </ul>
            </div>
          </div>

        </section>

        <section>
          <div class="row">
            <div class="col-md-12">
              <h4>Kontaktdetails</h4>
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-3">
              <span>Name</span>
            </div>
            <div class="col-9">
              <span>{{travel.contact.name}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>Organisation</span>
            </div>
            <div class="col-9">
              <span>{{travel.contact.organisation}}</span>
            </div>
          </div>

          <br /><br />
          <form (ngSubmit)="contact(travel)" [formGroup]="contactForm">
            <div class="row">
              <div class="col-3">
                <span style="font-weight: bold;">Kontaktieren</span>
              </div>
              <div class="col-9" *ngIf='!travel.mailSend'>

                <p>Deine Nachricht wird direkt an den Anbietenden verschickt. Wir speichern Sie nicht. Bitte beachte unsere <a href="https://lesscars.io/datenschutz.html" target="_blank">Datenschutzerklärung</a>.</p>

                <div class="row">
                  <input type="hidden" formControlName='contactId' [(ngModel)]='travel.contact.id'>
                  <div class="col-12 col-md-8">
                    <mat-form-field>
                      <input matInput class="form-control" type="text" placeholder="Deine E-Mailadresse *"
                        formControlName="email" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row same-height">
                  <div class="col-12 col-md-8">
                    <mat-form-field>
                      <textarea matInput class="form-control" matTextareaAutosize matAutosizeMinRows="4" placeholder="Deine Nachricht"
                        formControlName="description"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-4 contact-btn-wrap">
                    <button class="btn btn-blue" type="submit" [disabled]="!contactForm.valid">
                      <span>Abschicken</span>
                      <!-- <span *ngIf='formState === "waiting" || formState === "sending"'>Abschicken</span>
                      <span *ngIf='formState === "succeed"'><img style="height:18px" src="/hambi/assets/images/checkmark.svg"></span> -->
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-9" *ngIf='travel.mailSend'>
                <p><img style="height:18px" src="/satt/assets/images/checkmark.svg"> Wir haben deine Anfrage gesendet.</p>
              </div>
            </div>
          </form>

        </section>

        <!-- <section>
          <div class="row">
            <div class="col-md-12">
              <h4>Fahrt teilen</h4>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-3">
              <span>Plattformen</span>
            </div>
            <div class="col-9">
              <share-button [theme]="'modern-dark'" [button]="'twitter'" [size]="1" [url]='currentUrl'></share-button>
              <share-button [theme]="'modern-dark'" [button]="'facebook'" [size]="1" [url]='currentUrl'></share-button>
              <share-button [theme]="'modern-dark'" [button]="'pinterest'" [size]="1" [url]='currentUrl'></share-button>
            </div>
          </div>
        </section> -->

        <div class="close-botton-wrap">

          <a role="button" class="btn-blue" (click)='currentDetailsTravelId = 0'>Schließen</a>

        </div>

      </div>
    </div>
  </div>

  <div *ngIf="travelsFiltered.length === 0" class="alert alert-danger" role="alert">
    Keine Fahrten gefunden
  </div>
  <nav class="pagination-wrap">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link icon-jump" (click)="setPage(1)">
          <i class="icon-angle-double-left"></i>
        </a>
      </li>
      <!-- <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li> -->
      <li *ngFor="let page of pager.pages" class="page-item" [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <!-- <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
      </li> -->
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link icon-jump" (click)="setPage(pager.totalPages)">
          <i class="icon-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </nav>

  <ng-container *ngIf='mobileView && showMapFilterOverlay'>
    <app-map-filter-overlay [destinations]='destinations' [destinationFilter]='destinationFilter' [transportationMeanDisplay]='transportationMeanDisplay' 
      [transportationMeanFilter]='transportationMeanFilter' (updateTransportationMeanFilterEvent)='updateTransportationMeanFilterEventHandler($event)'
      (updateDestinationFilterEvent)='updateDestinationFilterEventHandler($event)' (onCloseEvent)='showMapFilterOverlay = false'></app-map-filter-overlay>
  </ng-container>