<div *eventAssign="let travelsFiltered be travels | calculateDistance:mapSearchMode:position | filter:textFilter:destinationFilter:transportationMeanFilter | filterCurrentDetails:currentDetailsTravelId:detailsRequestedFromMapDetails"
  style="overflow: hidden">

  <div class="select-destination" *ngIf='destinations && destinations.length > 1'>
    <div class="row">
      <div class="col-md-8">
        <p>Diese Demonstration findet in mehreren Städten statt.
          <br/> Bitte wähle Dein genaues Ziel aus dem rechts stehenden Feld aus.</p>
      </div>
      <div class="col-md-4 right-align">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn dropdown-toggle">
            {{destinationFilter ? destinationFilter.name : 'Demoziel auswählen'}}
            <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" (click)="destinationFilter=null">Alle</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li *ngFor="let destination of destinations" role="menuitem">
              <a class="dropdown-item" (click)="destinationFilter=destination">{{destination.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map-wrap">
    <div>
      <div>
        <agm-map [latitude]="position.lat" [longitude]="position.lng" [styles]="mapStyles" [fitBounds]='latlngBounds'>
          <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
            <agm-marker #filteredMarkers *ngFor='let travel of ( travelsFiltered | northToSouth )' [latitude]="travel.lat" [longitude]="travel.long"
              [iconUrl]='"./assets/images/icons/pin_" + travel.transportation_mean.id + ".png"' (markerClick)="showMarkerDetails(travel)" [attr.latitude]='travel.lat' [attr.longitude]='travel.long'></agm-marker>
          </agm-marker-cluster>
          <agm-circle *ngIf='mapSearchMode' [latitude]="position.lat" [longitude]="position.lng" [circleDraggable]="false" [editable]="false"
            [radius]="100000" [fillColor]="'#0099ff'" [fillOpacity]=".15"></agm-circle>

          <!-- [strokeWeight]="1"
            [strokePosition]="'CENTER'"
            [strokeColor]="'#000'"
            [strokeOpacity]="1" -->

        </agm-map>

        <div id="search-in-map-wrap">
          <div class="input-group custom-input-wrap">
            <div class="input-group-addon">
              <i class="icon-search"></i>
            </div>
            <input appGoogleAutoComplete (notifyForAddressData)='googlePlacesAddressHandler($event)' class='form-control form-inline focus'
              type="search" placeholder="Abfahrtsort eingeben" [(ngModel)]="mapSearchString" (change)='onMapSearchStringChange()'
            />
            <a role="button" id='clear-search' [class.show]='this.mapSearchMode' (click)='mapSearchString=""; this.mapSearchMode=false'>
              <i class="icon-close"></i>
            </a>
          </div>
        </div>

        <div id="current-travel-details" *ngIf='currentMapDetails' [@showDeatilsWrapTrigger]='true'>

          <div class="btn-close-wrap">
            <a role="button" (click)='currentMapDetails = null'>
              <i class="icon-close"></i>
            </a>
          </div>

          <div class="row">
            <div class="col-12">
              <share-button [theme]="'modern-dark'" [button]="'twitter'" [size]="1" [url]='currentUrl'></share-button>
              <share-button [theme]="'modern-dark'" [button]="'facebook'" [size]="1" [url]='currentUrl'></share-button>
              <share-button [theme]="'modern-dark'" [button]="'pinterest'" [size]="1" [url]='currentUrl'></share-button>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <span>Abfahrt</span>
            </div>
            <div class="col-8">
              <span>{{currentMapDetails.departure_time | amParse:'YYYY-MM-DD hh:mm:ss' | amDateFormat:'DD.MM.YY, HH:mm'}} Uhr</span>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <span>Von</span>
            </div>
            <div class="col-8">
              <span>
                <span *ngIf='currentMapDetails.street_address'>{{currentMapDetails.street_address}}, </span>
                <span *ngIf='currentMapDetails.postcode'>{{currentMapDetails.postcode}}, </span>{{currentMapDetails.city}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <span>Nach</span>
            </div>
            <div class="col-8">
              <span>{{currentMapDetails.destination.name}} ({{currentMapDetails.destination.date | amParse:'YYYY-MM-DD' | amDateFormat:'DD.MM.YYYY'}})</span>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <span>Verkehrsmittel</span>
            </div>
            <div class="col-8">
              <span>{{currentMapDetails.transportation_mean.name}}</span>
            </div>
          </div>

          <div class="btn-show-details-wrap">
            <button class="btn btn-black" (click)='detailsRequestedFromMapDetails = true;showMarkerFullDetails();'>Details und Kontaktinfos</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding-lr">
    <div class="col-md-8">
      <div class="btn-toolbar travel-filter-icons">
        <div class="step-nav-wrap mr-2" role="group" aria-label="First group">
          <button type="button" *ngFor='let filter of transportationMeanDisplay' [class.active-filter]='-1 !== transportationMeanFilter.indexOf(filter.id)'
            class="btn" (click)='updateTransportationMeanFilter(filter.id)'>
            <i [class]='filter.iconClass'></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 right-align">
      <div class="input-group padding-right custom-input-wrap">
        <div class="input-group-addon">
          <i class="icon-icon-filter"></i>
        </div>
        <input type="text" [(ngModel)]="textFilter" class="form-control" placeholder="Tabelle individuell filtern">
      </div>
    </div>
  </div>

  <div class="travel-wrap" #travelwrap>
    <div class="travel-header-wrap">
      <div class="row table-head">
        <div class="col-2 d-none d-sm-block">
          <span>Plz</span>
          <a role="button" (click)='keys = ["postcode"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
        <div class="col-4 col-sm-3">
          <span>Abfahrtsort</span>
          <a role="button" (click)='keys = ["city"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
        <div class="col-4 col-sm-2">
          <span>Verkehrsmittel</span>
          <a role="button" (click)='keys = ["transportation_mean", "name"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
        <div class="col-4 col-sm-3">
          <span>Aktionsort</span>
          <a role="button" (click)='keys = ["destination", "name"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
        <div class="col-2 d-none d-sm-block">
          <span>Entfernung</span>
          <a role="button" (click)='keys = ["currentDistance"]; ascOrder = !ascOrder'>
            <i class="icon-sort"></i>
          </a>
        </div>
      </div>
    </div>

    <div *ngFor="let travel of travelsFiltered | calculateDistance:mapSearchMode:position | eventsSort:keys:ascOrder | filterCurrentDetails:currentDetailsTravelId:detailsRequestedFromMapDetails | pagination:pager"
      class="travel-row-wrap">
      <div class="row" [class.show-details]='currentDetailsTravelId === travel.id' (click)='(currentDetailsTravelId === travel.id) ? currentDetailsTravelId = 0 : currentDetailsTravelId = travel.id; detailsRequestedFromMapDetails = false; setCurrentShareUrl(travel.id)'>
        <div class="col-2 d-none d-sm-block">{{travel.postcode}}</div>
        <div class="col-4 col-sm-3">{{travel.city}}</div>
        <div class="col-4 col-sm-2">
          <i [class]='setTransportationMeanClassIcon(travel.transportation_mean.id)'></i>&nbsp;&nbsp;{{travel.transportation_mean.name}}</div>
        <div class="col-4 col-sm-3">{{travel.destination.name}}</div>
        <div class="col-2 d-none d-sm-block">
          <span *ngIf='travel.currentDistance >= 0; else unknownDistance'>{{travel.currentDistance/1000 | number:'1.1-1'}} km</span>
          <ng-template #unknownDistance>
            -
          </ng-template>
        </div>
      </div>
      <div *ngIf='currentDetailsTravelId === travel.id' class="details-wrap" [@viewChange]='true'>
        <section>
          <div class="row">
            <div class="col-12">
              <share-button [theme]="'modern-dark'" [button]="'twitter'" [size]="1" [url]='currentUrl'></share-button>
              <share-button [theme]="'modern-dark'" [button]="'facebook'" [size]="1" [url]='currentUrl'></share-button>
              <share-button [theme]="'modern-dark'" [button]="'pinterest'" [size]="1" [url]='currentUrl'></share-button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4>Details zur Fahrt</h4>
            </div>
          </div>
          <br/>

          <div class="row">
            <div class="col-3">
              <span>Von</span>
            </div>
            <div class="col-9">
              <span>{{travel.street_address}}, {{travel.postcode}}, {{travel.city}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>Nach</span>
            </div>
            <div class="col-9">
              <span>{{travel.destination.name}} ({{travel.destination.date | amParse:'YYYY-MM-DD' | amDateFormat:'DD.MM.YYYY'}})</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>Verkehrsmittel</span>
            </div>
            <div class="col-9">
              <span>{{travel.transportation_mean.name}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>ungefähre Abfahrtszeit</span>
            </div>
            <div class="col-9">
              <span>{{travel.departure_time | amParse:'YYYY-MM-DD hh:mm:ss' | amDateFormat:'D.MMMM YYYY, H:mm'}} Uhr</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>Beschreibung</span>
            </div>
            <div class="col-9">
              <span>{{travel.description}}</span>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-12">
              <h4>Kontaktdetails</h4>
            </div>
          </div>
          <br/>

          <div class="row">
            <div class="col-3">
              <span>Name</span>
            </div>
            <div class="col-9">
              <span>{{travel.contact.name}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <span>Organisation</span>
            </div>
            <div class="col-9">
              <span>{{travel.contact.organisation}}</span>
            </div>
          </div>
        </section>

        <div class="close-botton-wrap">

          <a role="button" class="btn-black" (click)='currentDetailsTravelId = 0'>Schließen</a>

        </div>

      </div>
    </div>

    <div *ngIf="travelsFiltered.length === 0" class="alert alert-danger" role="alert">
      Keine Fahrten gefunden
    </div>
    <nav class="pagination-wrap">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link icon-jump" (click)="setPage(1)">
            <i class="icon-angle-double-left"></i>
          </a>
        </li>
        <!-- <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li> -->
        <li *ngFor="let page of pager.pages" class="page-item" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" (click)="setPage(page)">{{page}}</a>
        </li>
        <!-- <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
        </li> -->
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link icon-jump" (click)="setPage(pager.totalPages)">
            <i class="icon-angle-double-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>