:host() {
    position: relative;
    display: block;
    background-color: #F4F4F4;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    margin-bottom: 1px;

    .travel-header-wrap {
        background-color: #fff;
        padding-top: 50px;
    }

    .row.table-head {
        padding: 20px 0;

        & > * {
            padding-right: 0;

            @media ( min-width: 550px ) {
                padding-right: 15px;
            }

            span {
                vertical-align: middle;
                display: inline-block;
                font-size: 10px;
                font-weight: 300;
                line-height: 12px;

                @media ( min-width: 400px ) {
                    font-size: 12px;
                }

            }

            a {
                vertical-align: middle;
                display: inline-block;
                width: 12px;
                height: 12px;
                line-height: 12px;
                text-align: center;
                padding: 10px;
                cursor: pointer;

                i {
                    font-size: 5px;
                    position: relative;
                    top: -9px;
                    left: -10px;
                }
            }
        }
    }

    .travel-wrap {
        font-size: 10px;

        @media ( min-width: 400px ) {
            font-size: 14px;
        }

        @media ( min-width: 992px ) {
            font-size: 1rem;
        }

        & > div {
            & > div:first-child {
                padding-left: 15px;
            }
        }
    }

    #search-in-map-wrap {
        position: absolute;
        width: calc(100% - 56px);
        left: 0;
        top: 15px;
        padding-left: 15px;
        padding-right: 15px;

        @media ( min-width: 992px ) {
            padding-left: 0;
            padding-right: 0;
        }

        @media ( min-width: 550px ) {
            width: 50%;
        }

        @media ( min-width: 750px ) {
            width: 344px;
        }

        @media ( min-width: 992px ) {
            width: 40%;
            left: 15px;
        }

        .custom-input-wrap {
            position: relative;
            
            .input-group-addon {
                width: 48px;

                i {
                    font-size: 1.2em;
                    color: #9B9B9B;
                }
            }

            .form-control {
                max-width: calc( 100vw - 149px);
                width: calc( 100vw - 149px);
            }

            #clear-search {
                display: block;
                position: absolute;
                top: 0;
                background-color: #fff;
                border: 1px solid #ced4da;
                border-left: none;
                width: 56px;
                height: 56px;
                color: #000;
                text-align: center;
                line-height: 54px;
                cursor: pointer;
                transition: .15s ease background-color, .3s ease transform, .3s ease box-shadow;
                transform: translateX(0);
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0);
                right: 0;

                &.show {
                    transform: translateX(56px);
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
                }

                i {
                    display: block;
                    transform: rotate(0);
                    transition: .15s ease transform;

                    &:before {
                        margin: 0;
                        font-size: 1em;
                        position: relative;
                        top: 1px;
                    }
                }

                &:hover {
                    background-color: #000;
                    color: #fff;

                    i {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    #filter-table-wrap {
        @media ( min-width: 768px ) {
            display: flex;
            justify-content: flex-end;
        }
    }

    #filter-table {
        @media ( min-width: 768px ) {
            max-width: 310px;
        }
    }

    .custom-input-wrap {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

        .input-group-addon {
            background-color: #fff;

            i {
                font-size: 12px;
            }
        }

        .form-control {
            padding-top: 15px;
            padding-bottom: 15px;
            border-left-color: #fff;

            &:focus {
                border-color: #ced4da;
                border-left-color: #fff;
                box-shadow: none;
            }
        }
    }

    .travel-filter-icons {
        padding-top: 4px;

        @media ( max-width: 768px ) {
            display: block;
            text-align: center;
            margin-bottom: 20px;

            & > div {
                display: inline-block
            }
        }
    }

    .step-nav-wrap {
        & > .btn {
            background-color: #fff;
        
            & > i {
                color: #000;    
            }
            
            &.active-filter {
                background-color: #000;
                
                & > i {
                    color: #fff;
                }
            }
        }
    }

    @media (min-width: 576px) {
        .col-sm-20, .col-20 {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 20% !important;
            flex: 0 0 20% !important;
            max-width: 20% !important;
        }
    }

    #current-travel-details {
        display: block;
        z-index: 999;
        position: absolute;
        background-color: #fff;
        padding: 15px;
        left: 15px;
        width: calc( 100% - 30px );
        top: 15px;

        @media ( min-width: 450px ) {
            top: 70px;
            right: 70px;
            width: 344px;
            left: auto;
            bottom: auto;
        }

        & > .row {
            & > div:first-child {
                span {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 20px;
                }
            }

            & > div:last-child {
                span {
                    font-size: 20px;
                }
            }
        }

        .btn-show-details-wrap {
            margin-top: 20px;
            text-align: right;

            .btn-black {
                font-size: 14px;
                padding: 6px 12px 5px;
            }
        }

        .btn-close-wrap {
            text-align: right;
            position: relative;
            margin-bottom: 10px;

            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-color: #9B9B9B;
                color: #fff;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
                transition: .15s ease background-color;

                i {
                    display: block;
                    transform: rotate(0);
                    transition: .15s ease transform;

                    &:before {
                        margin: 0;
                        font-size: 11px;
                        position: relative;
                        top: -2px;
                    }
                }

                &:hover {
                    background-color: #8a8a8a;

                    i {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    .select-destination {
        padding: 30px 15px 20px;

        p {
            font-size: 14px;
            color: #4A4A4A;
        }

        .right-align {
            text-align: right;

            .padding-right {
                padding-right: 15px;
            }
    
            & > div {
                display: inline-block;
            }
        }
    }

    .travel-row-wrap {
        overflow: hidden;

        & > .row {
            padding: 20px 0;
            transition: .15s ease background-color;
            background-color: #fff;
            cursor: pointer;
            border-top: 1px solid rgba(219,219,219,1);

            &:hover, &.show-details {
                background-color: rgba(227,227,227,1) !important;
            }

        }

        &:last-child > .row {
            border-bottom: 1px solid rgba(219,219,219,1);
        }
        
        &:nth-child(even) {
            & > .row {
                background-color: rgba(250,250,250,1);
            }
        }

        .details-wrap {
            background-color: #fff;
            padding: 0 15px;
            font-size: 14px;

            h4 {
                font-family: 'Raleway', sans-serif;
                font-weight: 800;
                font-size: 24px;
            }

            .col-3 {
                span {
                    font-weight: 300;
                    font-size: 10px;
                }
            }

            @media ( min-width: 992px ) {
                padding: 0 65px;
                font-size: 16px;

                .col-3 {
                    span {
                        font-weight: 300;
                        font-size: 16px;
                    }
                }
            }

            section {
                position: relative;
                display: block;
                padding: 65pX 0;
                border-bottom: 1px solid #979797;
            }

            .close-botton-wrap {
                padding: 50px 0;
                text-align: right;
            }
        }
    }

    .pagination-wrap {
        display: block;
        padding: 50px 0;
        text-align: center;
        background-color: #fff;

        ul {
            display: inline-block;

            li {
                display: block;
                float: left;

                &.active {
                    a {
                        background-color: #9B9B9B;
                        color: #fff;
                        border-color: #9B9B9B;
                    }
                }

                a {
                    cursor: pointer;
                    background-color: #fff;
                    color: #4A4A4A;
                    padding: 12px 15px 11px;
                    transition: .15s ease all;

                    i {
                        font-size: 12px;
                        position: relative;
                        top: -2px;
                    }
                }

                &:not(.active) {
                    a:hover {
                        background-color: #4A4A4A;
                        border-color: #4A4A4A;
                        color: #fff;
                    }
                }
            }
        }
    }
}